h1{
    text-align: center;
    color: brown;
}
h3{
    margin-top: 370px;
}

p{
    text-align: center;
}

img{
    width: 400px;
    height: 300px;
}
div{
    position: absolute;
    left: auto;
    bottom: 150px;
}

div2{
    position: absolute;
    margin: auto;
    bottom: 150px;
}
div3{
    position: absolute;
    right: auto;
    bottom: 155px;
}

p1{
    font-size: 20px;
}



p3{
    margin-left: 20px;
}
p4{
    margin-left:20px;
}

#rectangle {
    margin: 0 auto;
    width: auto;
    height: 100px;
    background-color: rgba(174, 174, 174, 0.462);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: 70px;
    
}
#button{
    margin-top: auto;
    width: 7em;
    height: 3em;
    background-color: blanchedalmond;
}
